.header {
  @apply absolute inset-x-0 top-0 z-40;
}
.navbarFixed {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  @apply top-0 left-0 w-full z-40 !fixed;
  background-color: #fff;
}

.headerScrolled {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.nav {
  @apply flex items-center lg:justify-start justify-between py-2;
}
.logo {
    @apply flex md:mr-12;
}


/* togglebutton */

.BarIcontoggle {
    @apply flex lg:hidden;
}
.BarIconbutton {
    @apply -m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700 transition-all;
}


/* menu */
.menu {
    @apply hidden lg:flex lg:gap-x-12;
}
.link {
    @apply text-base font-medium leading-6 text-gray-900 hover:text-orange-600;
}


/* mobile  */
.Mdialog{
    @apply lg:hidden transition-all;
}
.MdialogPanel{
    @apply fixed inset-y-0 transition-all right-0 z-40 w-full overflow-y-auto bg-white px-2 py-2 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10;
}

/* mobile menu */
.mobileLink {
    @apply -mx-3 block rounded-lg px-3 py-2 text-base md:text-lg font-semibold leading-7 text-gray-900 
    hover:bg-gray-50;
}
