.textArea {
  letter-spacing: 0.6px;
  background-color: rgba(0, 0, 0, 0);
  @apply text-base p-4 mb-5 outline-none rounded-md font-normal h-auto w-full duration-300 ease-in-out text-white;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.textArea:active,
.textArea:focus {
  @apply border-color4 duration-300 ease-in-out;
}

.button {
  @apply rounded-md w-full h-16 border-2 border-solid border-white hover:bg-white bg-clip-border items-center justify-center transition-all text-lg font-normal hover:text-black dark:hover:text-black;
}
