@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.scss */
:root {
  --color1: #fff;
  --color2: #F77A40;
  --color3: #000;
  --border1: #dbe2ea;
  --border2: #F77A40;
}


@layer base {
  .btnIcon {
    @apply py-3 px-3 rounded-md;
  }
}

*,
*::after,
*::before {
  @apply m-0 p-0 box-border;
}

html,
body {
  @apply w-full scroll-smooth overflow-x-hidden;
}

input::placeholder,
textarea::placeholder {
  @apply text-black;
}

a {
  @apply transition-all;
}

.bg {
  background-image: linear-gradient(160deg, #fd59a7, #f17539);
}

/* -----------------------Button start here ------------------- */

button {
  @apply outline-none;
}

button:focus {
  @apply outline-none focus:ring-2 focus:ring-[border2] focus:ring-opacity-50;
}

/* ---------------------------------------------------------------
------------------------- Sub Hero start here --------------------
--------------------------------------------------------------- */

.home {
  background: rgb(253, 66, 167);
  background: linear-gradient(90deg,
      rgba(253, 66, 167, 0.227328431372549) 50%,
      rgba(241, 117, 57, 0.2497373949579832) 100%);
}

/* ---------------------------------------------------------------
------------------------- Services start here ---------------------
--------------------------------------------------------------- */
.card {
  padding: 2em 1.5em;
  background: linear-gradient(#ffffff 50%, #ff8e56 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  @apply w-full h-full rounded-md cursor-pointer transition-all;
}

.card:hover {
  background-position: 0 100%;
  transform: scale(1.1);
}

.card:hover .icon {
  @apply rounded-full;
}

.card:hover h3,
.card:hover p {
  @apply text-white;
}

.btn {
  @apply rounded-md bg-clip-border items-center justify-center transition-all text-lg font-normal;
}

.btn2 {
  @apply text-white py-3 px-7;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(160deg, #fd59a7, #f17539);
  border: 1px solid rgba(253, 89, 167, 0.2);
}

/* ---------------------------------------------------------------
--------------------- hero home start here --------------------
--------------------------------------------------------------- */
.section-img-background {
  background-image: url(/bg.jpg);
  background-position: 50%;
  @apply py-24 bg-cover bg-fixed bg-no-repeat;
}

.article h1 {
  @apply text-4xl pb-8;
}

.article h2 {
  @apply text-2xl py-5 font-semibold;
}

.article p em strong {
  @apply text-base pb-4;
}

.article p {
  @apply text-base pb-2;
}