@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.scss */
:root {
  --color1: #fff;
  --color2: #3fafaa;
  --color3: #101010;
  --color4: #F2F4FF;
  --color3h: #262323a8;
  --border1: #dbe2ea6d;
  --border1dark: #dbe2ea5c;
  --border2: #3fafaa;
}

/* ---------------------------------------------------------------
--------------------- Basic Style start here ---------------------
--------------------------------------------------------------- */

*,
*::after,
*::before {
  @apply m-0 p-0 box-border;
}

html,
body {
  @apply w-full scroll-smooth overflow-x-hidden dark:bg-gray-800 bg-white;
}

::selection {
  @apply bg-color2 text-white;
}

input::placeholder,
textarea::placeholder {
  @apply text-black dark:text-color4;
}

a {
  @apply duration-300 ease-in;
}

p {
  @apply font-normal md:text-lg text-base my-5 text text-gray-500;
  line-height: 2;
}

button {
  @apply outline-none;
}

button:focus {
  @apply outline-none focus:ring-2 focus:ring-[border2] focus:ring-opacity-50;
}

/* ----------------------------------------------------------------
------------------------- Navbar start here -----------------------
---------------------------------------------------------------- */

.navbarFixed {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  @apply top-0 left-0 w-full z-40 fixed bg-white dark:bg-gray-700;
}

/* ----------------------------------------------------------------
------------------------- scrollbar start here --------------------
---------------------------------------------------------------- */

/* width */
::-webkit-scrollbar {
  @apply xl:w-5 lg:w-4 w-3;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-color2;
  border-radius: 10px;
}

/* ----------------------------------------------------------------
------------------------- Slick Slider start here -----------------
---------------------------------------------------------------- */
.slick-prev,
.slick-next {
  display: none !important;
}

/* ---------------------------------------------------------------
------------- Tailwind CSS LAYER BASE Hero start here ------------
--------------------------------------------------------------- */

@layer base {
  .btnIcon {
    @apply py-3 px-3 border-2 rounded-md bg-color2 hover:bg-color1 border-color2 text-color1 hover:text-color2 flex items-center justify-center;

    &:hover {
      .btnIconhover {
        @apply opacity-90 duration-300 ease-in-out;
      }
    }
  }

  .text {
    @apply text-gray-900 dark:text-white;
  }

  .link {
    @apply text-gray-900 dark:text-white hover:text-color2 dark:hover:text-color2;
  }

  .border1 {
    @apply dark:border-slate-600 border-slate-200;
  }
}

/* -----------------------Button start here ------------------- */

.bg {
  background-image: linear-gradient(160deg, #fd59a7, #f17539);
}

.home {
  background: rgb(253, 66, 167);
  background: linear-gradient(90deg,
      rgba(253, 66, 167, 0.227328431372549) 50%,
      rgba(241, 117, 57, 0.2497373949579832) 100%);
}

.blogCard-img:hover {
  transform: scale(1.25);
}

.bg-hero-3 {
  background-image: url(/banner-hero-2.png);
  @apply bg-cover;
}

.bg-hero-2 {
  background-image: url(/banner-hero-1.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 55%;
}

.bg-hero {
  background-image: url(/banner-hero.png);
  @apply bg-cover lg:pb-20 md:pb-10 sm:pb-5 pb-2;
  background-position: top center;
  background-repeat: no-repeat;
}

/* ---------------------------------------------------------------
------------------------- Services start here ---------------------
--------------------------------------------------------------- */
.card {
  padding: 2em 1.5em;
  background: linear-gradient(#ffffff 50%, #ff8e56 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  @apply w-full h-full rounded-md cursor-pointer transition-all;
}

.card:hover {
  background-position: 0 100%;
  transform: scale(1.1);
}

.card:hover .icon {
  @apply rounded-full;
}

.card:hover h3,
.card:hover p {
  @apply text-white;
}

.btn {
  @apply rounded-md bg-clip-border items-center justify-center transition-all text-lg font-normal;
}

.btn2 {
  @apply text-white py-3 px-7;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(160deg, #fd59a7, #f17539);
  border: 1px solid rgba(253, 89, 167, 0.2);
}

/* ---------------------------------------------------------------
--------------------- hero home start here --------------------
--------------------------------------------------------------- */
.section-img-background {
  background-image: url(/bg.jpg);
  background-position: 50%;
  @apply py-24 bg-cover bg-fixed bg-no-repeat;
}

.article h1 {
  @apply text-4xl pb-8;
}

.article h2 {
  @apply text-2xl py-5 font-semibold;
}

.article p em strong {
  @apply text-base pb-4;
}

.article p {
  @apply text-base pb-2;
}