@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals Variable */
:root {
  --color1: #fff;
  --color2: #3fafaa;
  --color3: #101010;
  --color4: #f2f4ff;
  --color3h: #262323a8;
  --border1: #dbe2ea6d;
  --border1dark: #dbe2ea5c;
  --border2: #3fafaa;
}

/* ---------------------------------------------------------------
--------------------- Basic Style start here ---------------------
--------------------------------------------------------------- */

*,
*::after,
*::before {
  @apply m-0 p-0 box-border;
}

html,
body {
  @apply w-full scroll-smooth overflow-x-hidden dark:bg-gray-800 bg-white;
}

::selection {
  @apply bg-color2 text-white;
}

input,
textarea {
  @apply outline-none;
}

input::placeholder,
textarea::placeholder {
  @apply text-black dark:text-color4;
}

a {
  @apply duration-300 ease-in;
}

p {
  @apply font-normal md:text-lg text-base my-5 text text-gray-500;
  line-height: 2;
}

button {
  @apply outline-none;
}

button:focus {
  @apply outline-none focus:ring-2 focus:ring-[border2] focus:ring-opacity-50;
}

/* ----------------------------------------------------------------
------------------------- Navbar start here -----------------------
---------------------------------------------------------------- */

.navbarFixed {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  @apply top-0 left-0 w-full z-40 fixed bg-white dark:bg-gray-700;
}

/* ----------------------------------------------------------------
------------------------- scrollbar start here --------------------
---------------------------------------------------------------- */

/* width */
::-webkit-scrollbar {
  @apply xl:w-5 lg:w-4 w-3;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-color2;
  border-radius: 10px;
}

/* ----------------------------------------------------------------
------------------------- Slick Slider start here -----------------
---------------------------------------------------------------- */
.slick-prev,
.slick-next {
  display: none !important;
}

/* ---------------------------------------------------------------
------------- Tailwind CSS LAYER BASE Hero start here ------------
--------------------------------------------------------------- */

@layer base {
  .btnIcon {
    @apply py-3 px-3 border-2 rounded-md bg-color2 hover:bg-color1 border-color2 text-color1 hover:text-color2 flex items-center justify-center;

    &:hover {
      .btnIconhover {
        @apply opacity-90 duration-300 ease-in-out;
      }
    }
  }

  .text {
    @apply text-gray-900 dark:text-white;
  }

  .link {
    @apply text-gray-900 dark:text-white hover:text-color2 dark:hover:text-color2;
  }

  .border1 {
    @apply dark:border-slate-600 border-slate-200;
  }
}

/* -----------------------Button start here ------------------- */
.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button:before {
  content: '';
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #3fafaa;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  @apply bg-color2;
  border-radius: 50%;
  transition: all 200ms;
}

.video-play-button:hover:after {
  background-color: darken(#3fafaa, 10%);
}

.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid #fff;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.video-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all ease 500ms;
}

.video-overlay.open {
  position: fixed;
  z-index: 1000;
  opacity: 1;
}

.video-overlay-close {
  position: absolute;
  z-index: 1000;
  top: 15px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms;
}

.video-overlay-close:hover {
  color: #51d5cf;
}

.video-overlay iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* width: 90%; */
  /* height: auto; */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}

.bg {
  background-image: linear-gradient(160deg, #fd59a7, #f17539);
}

.home {
  background: rgb(253, 66, 167);
  background: linear-gradient(90deg,
      rgba(253, 66, 167, 0.227328431372549) 50%,
      rgba(241, 117, 57, 0.2497373949579832) 100%);
}

.blogCard-img:hover {
  transform: scale(1.25);
}

.bg-hero-3 {
  background-image: url(/banner-hero-2.png);
  @apply bg-cover;
}

.bg-hero-2 {
  background-image: url(/banner-hero-1.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 55%;
}

.bg-hero {
  background-image: url(/banner-hero.png);
  @apply bg-cover lg:pb-20 md:pb-10 sm:pb-5 pb-2;
  background-position: top center;
  background-repeat: no-repeat;
}

/* ---------------------------------------------------------------
------------------------- Services start here ---------------------
--------------------------------------------------------------- */
.card {
  padding: 2em 1.5em;
  background: linear-gradient(#ffffff 50%, #ff8e56 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  @apply w-full h-full rounded-md cursor-pointer transition-all;
}

.card:hover {
  background-position: 0 100%;
  transform: scale(1.1);
}

.card:hover .icon {
  @apply rounded-full;
}

.card:hover h3,
.card:hover p {
  @apply text-white;
}

.btn {
  @apply rounded-md bg-clip-border items-center justify-center transition-all text-lg font-normal;
}

.btn2 {
  @apply text-white py-3 px-7;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(160deg, #fd59a7, #f17539);
  border: 1px solid rgba(253, 89, 167, 0.2);
}

/* ---------------------------------------------------------------
--------------------- hero home start here --------------------
--------------------------------------------------------------- */
.section-img-background {
  background-image: url(/bg.jpg);
  background-position: 50%;
  @apply py-24 bg-cover bg-fixed bg-no-repeat;
}

.article h1 {
  @apply text-4xl pb-8;
}

.article h2 {
  @apply text-2xl py-5 font-semibold;
}

.article p em strong {
  @apply text-base pb-4;
}

.article p {
  @apply text-base pb-2;
}